---
import Section from "../Section.astro";
import { basics } from "@json";
const { summary } = basics;
---

<Section title="About">
  <p>
    Hi, I'm a seasoned professional with ten years in IT, mostly focusing on
    project implementation, user support, and finding ways to make things
    easier. Additionally, I bring a background in service and hospitality, so I
    can effectively "do the needful" working with machines and humans alike
    (kidding, but serious).
  </p>
</Section>
