---
import Section from "../Section.astro";
import { basics } from "@json";
const { summary } = basics;
---

<Section title="About">
  <p>
    Hi, I'm a seasoned professional with ten years in IT, mostly focusing on
    finding ways to make things easier for myself and others (e.g., creating
    tools, writing documentation, and formalizing processes). Additionally, I
    bring a background in service and hospitality, so I can effectively "do the
    needful" working with machines and humans alike (kidding, but serious).
  </p>
</Section>
